.dropdown_content {
  font-size: 0.875rem;
}

.dropdown_content h4 {
  font-weight: 700;
  line-height: 1.25rem;
  margin-top: 0.75rem;
}

.dropdown_content li {
  line-height: 1.85rem;
}

.dropdown_content li a {
  color: inherit;
  font-weight: 400;
}

@media (min-width: 996px) {
  .dropdown_content {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dropdown_content h4 {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
}
