.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 996px) {
  .container {
    max-width: 996px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
