.checkoutItem {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 25px;
  margin: 1rem;
}

.rightContainer {
  align-self: stretch;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3rem;
}
.leftContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.image {
  width: 75px;
}

.imageContainer {
  width: 150px;
  height: 150px;
  background-color: rgb(237, 236, 236);
  border-radius: 8px;

  display: grid;
  place-items: center;
}

.titleAndQuantity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.delete {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 400px) {
  .checkout {
    flex-direction: column;
  }

  .rightContainer {
    flex-direction: column;
  }

  .leftContainer {
    align-items: start;
  }

  .imageContainer {
    width: 100px;
    height: 100px;
  }

  .image {
    width: 50px;
  }
}
