.carouselItem {
  background-color: rgb(245, 245, 245);
  height: 300px;
  width: 300px;
  font-size: 0.8rem;
  border-radius: 15px;

  display: grid;
  place-items: center;
  align-content: center;
  gap: 0.3rem;
}

.carousel {
  width: 950px;
  margin: auto;
}

.arrowIcon {
  width: 12px;
  height: 12px;
}

.callToAction {
  display: flex;
  align-items: center;
  gap: 3px;
}

.bookCover {
  width: 125px;
  margin-bottom: 3px;
}

.author {
  color: rgb(109, 107, 107);
}

@media (max-width: 1000px) {
  .carousel {
    width: 625px;
  }
}

@media (max-width: 600px) {
  .carousel {
    width: 300px;
  }

  .bookCover {
    width: 100px;
  }
}
