.errorPage {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.errorDiv {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  border: 2px solid rgb(237, 236, 236);
  padding: 3rem;
  margin: 1rem;
}

.errorDiv h1,
.errorDiv a {
  color: #134e4a;
}

.logo {
  width: 50px;
}

.errorDiv a {
  text-decoration: underline;
}
