.minusButton,
.plusButton {
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: #f6f3f4;
  color: black;
  text-align: center;
  border: none;
  border-radius: 50%;
  border: 1px solid grey;
}

.bookQuantity {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6px;
}
