.checkout {
  display: flex;
  justify-content: space-around;
}

.pageTitle {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrowIcon {
  width: 14px;
}

.continueShopping {
  color: black;
}

.orderSummary {
  text-align: center;
}
.rightContainer {
  border: 1px solid grey;
  padding: 2.5rem;
  border-radius: 8px;
  width: 350px;
  height: min-content;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.leftContainer {
  max-width: 900px;
  flex: 1;
}

.subtotal,
.taxes,
.shipping,
.total {
  display: flex;
  justify-content: space-between;
}

.checkoutButton {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #0f766e;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 100%;
}
.checkoutButton:hover {
  background-color: #134e4a;
}

@media screen and (max-width: 1250px) {
  .checkout {
    flex-direction: column;
  }

  .rightContainer {
    width: auto;
    margin: 1rem;
  }

  .leftContainer {
    max-width: none;
  }
}

@media screen and (max-width: 400px) {
  .rightContainer {
    font-size: 0.8rem;
  }

  .orderSummary {
    font-size: 0.9rem;
  }

  .pageTitle {
    font-size: 1rem;
  }
}
